body{
  font-family: Arial;
  background:#0f0f0f;
  color:white;
  padding:20px;
}

h1{
  text-align:center;
}

.back{
  display:block;
  text-align:center;
  color:#00b894;
  text-decoration:none;
  margin-bottom:20px;
}

.input-box{
  display:flex;
  gap:10px;
  justify-content:center;
  flex-wrap:wrap;
  margin-bottom:20px;
}

input,button{
  padding:10px;
  border:none;
  border-radius:10px;
}

button{
  background:#00b894;
  color:white;
  cursor:pointer;
}

/* TABLE STYLE */
.table-wrapper{
  overflow-x:auto;
}

table{
  width:100%;
  border-collapse:collapse;
  min-width:700px;
}

th, td{
  border:1px solid #333;
  padding:10px;
  text-align:center;
}

th{
  background:#1e1e1e;
}

.chapter{
  font-weight:bold;
  text-align:left;
}
